.side-nav {
  $this: &;

  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 0;
  gap: 0.25rem;
  list-style-type: none;

  &__item {
    display: list-item;
    padding: 0 0.625rem;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.9375rem;
    color: var(--app-color-link);
    font-size: var(--ct-menu-item-font-size);
    gap: 0.625rem;
    line-height: var(--app-menu-item-font-size);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    white-space: nowrap;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &--sub {
      padding-left: 0.25rem;
      color: var(--app-menu-item-color);
      font-size: 0.875rem;
      text-transform: initial;

      svg {
        position: relative;
        top: -1px;
        width: 0.875rem;
        height: 0.875rem;
      }
    }
  }
}