@use "@vars/mixins";

.card {
  $this: &;

  --app-card-border-radius: var(--app-border-radius);
  --app-card-bg: #fff;
  --app-card-color: var(--app-color-text);

  position: relative;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  border-radius: var(--app-card-border-radius);
  background-color: var(--app-card-bg);
  box-shadow: var(--app-box-shadow);

  &__thumb {
    border-top-left-radius: var(--app-card-border-radius);
    border-top-right-radius: var(--app-card-border-radius);
    transition: 0.2s ease-in-out;
  }

  &__body {
    flex: 1 1 auto;
    padding: 1.25rem;
    color: var(--app-card-color);
    gap: 0.5rem;
  }

  &__header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--app-border-color);
    margin-bottom: 0;
    background-color: transparent;
    color: var(--app-heading-color);
  }

  &__title {
    margin: 0;
    font-weight: 400;

    a {
      color: var(--app-heading-color);
      text-decoration: none;
      transition: 0.2s ease-in-out;

      @include mixins.link-card;
    }
  }

  &__footer {
    padding: 1rem 1.25rem;
  }

  &:hover {
    #{$this}__thumb {
      transform: scale(1.05);
    }

    #{$this}__title {
      a {
        color: var(--app-color-accent);
      }
    }
  }
}