.table {
  --ct-table-color-type: initial;
  --app-table-bg-type: initial;
  --app-table-color-state: initial;
  --app-table-bg-state: initial;
  --ct-table-color: var(--ct-body-color);
  --app-table-bg: transparent;
  --app-table-border-color: var(--app-light);
  --app-table-accent-bg: transparent;
  --ct-table-striped-color: var(--ct-body-color);
  --ct-table-striped-bg: rgba(var(--app-light-rgb), 0.45);
  --ct-table-active-color: var(--ct-body-color);
  --ct-table-active-bg: rgba(var(--app-light-rgb), 0.45);
  --ct-table-hover-color: var(--ct-body-color);
  --ct-table-hover-bg: rgba(var(--app-light-rgb), 0.45);

  width: 100%;
  border-color: var(--app-table-border-color);
  margin-bottom: 1.5rem;
  vertical-align: middle
}

.table>:not(caption)>*>* {
  padding: .75rem .6rem;
  border-bottom-width: var(--app-border-width);
  background-color: var(--app-table-bg);
  box-shadow:
    inset 0 0 0 9999px
    var(--app-table-bg-state, var(--app-table-bg-type,var(--app-table-accent-bg)));
  color: var(--app-table-color-state,var(--ct-table-color-type,var(--ct-table-color)))
}

.table>tbody {
  vertical-align: inherit
}

.table>thead {
  vertical-align: bottom
}

.table-group-divider {
  border-top: calc(var(--app-border-width) * 2) solid currentcolor
}

.caption-top {
  caption-side: top
}

.table-sm>:not(caption)>*>* {
  padding: .5rem
}

.table-bordered>:not(caption)>* {
  border-width: var(--app-border-width) 0
}

.table-bordered>:not(caption)>*>* {
  border-width: 0 var(--app-border-width)
}

.table-borderless>:not(caption)>*>* {
  border-bottom-width: 0
}

.table-borderless>:not(:first-child) {
  border-top-width: 0
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --ct-table-color-type: var(--ct-table-striped-color);
  --app-table-bg-type: var(--ct-table-striped-bg)
}

.table-striped-columns>:not(caption)>tr>:nth-child(even) {
  --ct-table-color-type: var(--ct-table-striped-color);
  --app-table-bg-type: var(--ct-table-striped-bg)
}

.table-active {
  --app-table-color-state: var(--ct-table-active-color);
  --app-table-bg-state: var(--ct-table-active-bg)
}

.table-hover>tbody>tr:hover>* {
  --app-table-color-state: var(--ct-table-hover-color);
  --app-table-bg-state: var(--ct-table-hover-bg)
}

.table-primary {
  --ct-table-color: #313a46;
  --app-table-bg: #d1e8f9;
  --app-table-border-color: #c1d7e7;
  --ct-table-striped-bg: #899aa8;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #899aa8;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #899aa8;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-secondary {
  --ct-table-color: #313a46;
  --app-table-bg: #dee1f2;
  --app-table-border-color: #cdd0e1;
  --ct-table-striped-bg: #9096a5;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #9096a5;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #9096a5;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-success {
  --ct-table-color: #313a46;
  --app-table-bg: #cff3e1;
  --app-table-border-color: #bfe1d2;
  --ct-table-striped-bg: #88a09b;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #88a09b;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #88a09b;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-info {
  --ct-table-color: #313a46;
  --app-table-bg: #d7f1f9;
  --app-table-border-color: #c6dfe7;
  --ct-table-striped-bg: #8c9fa8;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #8c9fa8;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #8c9fa8;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-warning {
  --ct-table-color: #313a46;
  --app-table-bg: #fef4dc;
  --app-table-border-color: #eae1cd;
  --ct-table-striped-bg: #a2a099;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #a2a099;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #a2a099;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-danger {
  --ct-table-color: #313a46;
  --app-table-bg: #ffdede;
  --app-table-border-color: #eacecf;
  --ct-table-striped-bg: #a2949a;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #a2949a;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #a2949a;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-light {
  --ct-table-color: #313a46;
  --app-table-bg: #eef2f7;
  --app-table-border-color: #dbe0e5;
  --ct-table-striped-bg: #999fa7;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #999fa7;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #999fa7;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-dark {
  --ct-table-color: #fff;
  --app-table-bg: #313a46;
  --app-table-border-color: #464e59;
  --ct-table-striped-bg: #8e9399;
  --ct-table-striped-color: #fff;
  --ct-table-active-bg: #8e9399;
  --ct-table-active-color: #fff;
  --ct-table-hover-bg: #8e9399;
  --ct-table-hover-color: #fff;

  border-color: var(--app-table-border-color);
  color: var(--ct-table-color)
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto
}

@media (width <= 575.98px) {
  .table-responsive-sm {
    -webkit-overflow-scrolling: touch;
    overflow-x:auto
  }
}

@media (width <= 767.98px) {
  .table-responsive-md {
    -webkit-overflow-scrolling: touch;
    overflow-x:auto
  }
}

@media (width <= 991.98px) {
  .table-responsive-lg {
    -webkit-overflow-scrolling: touch;
    overflow-x:auto
  }
}

@media (width <= 1199.98px) {
  .table-responsive-xl {
    -webkit-overflow-scrolling: touch;
    overflow-x:auto
  }
}

@media (width <= 1499.98px) {
  .table-responsive-xxl {
    -webkit-overflow-scrolling: touch;
    overflow-x:auto
  }
}