@use "@vars/base";

.content {
  font: 400 1rem / 1.92 base.$font-family-base;

  *:first-child {
    margin-top: 0 !important;
  }

  *:last-child {
    margin-bottom: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-height: 1000000px;
    padding: 0;
    margin: 0 0 1.5rem;
    color: var(--app-color-heading);
    font-family: base.$font-family-headings;
    font-weight: 700;
    line-height: 1.1;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  p {
    margin: 0 0 1.5rem;
  }

  a:not([class]) {
    color: var(--app-color-link);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul:not([class]),
  ul.wp-block-list {
    padding: 0 0 0 1rem;
    margin: 0 0 1.5rem;
    list-style: none;

    li {
      position: relative;
      padding: 0 0 0.5rem 1.5rem;
      list-style-type: none;
      text-decoration: none;

      &::before {
        position: absolute;
        top: 0.4em;
        left: 0;
        width: 0.5em;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        background: var(--app-color-link);
        content: "";
      }
    }
  }

  ol:not([class]),
  ol.wp-block-list {
    padding: 0 0 0 1rem;
    margin: 0 0 1.5rem;
    counter-reset: list 1;
    list-style: none;

    li {
      position: relative;
      padding: 0 0 0.5rem 1.5rem;
      list-style: none;
      text-decoration: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--app-color-link);
        content: counter(list) ". ";
        counter-increment: list;
        font-weight: 500;
      }
    }
  }

  pre {
    margin-bottom: 2rem !important;
  }

  code.inline {
    padding: 3px 5px;
    color: var(--app-color-text);
    font-size: 0.9rem;
  }

  blockquote {
    padding: 0 0 0 2rem;
    border-left: 5px solid var(--app-color-link);
    margin: 1rem 0 2rem;
    font-size: 1.1rem;
    font-style: italic;
  }

  b,
  strong {
    color: var(--app-color-heading);
    font-weight: 700;
  }
}
