@use "@vars/media";

.footer {
  display: flex;
  min-height: var(--app-topbar-height);
  flex-flow: column nowrap;
  padding: 0 1.5rem;
  border: 0 solid var(--app-border-color);
  margin-top: 2rem;
  margin-left: var(--app-layour-shift);
  font-size: 0.875rem;
  gap: 1rem;
  transition: all .2s ease-in-out;

  @media screen and (min-width: media.$screen-md) {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--app-sidenav-width);
  }
}
