@use "@vars/base";

.navbar {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: var(--app-base-border-radius);
  background-color: transparent;
  gap: 1.5rem;

  &__item {
    display: flex;
    height: var(--app-topbar-height);
    flex-flow: row nowrap;
    align-items: center;

    &:first-child {
      margin-right: auto;
    }
  }

  &__title {
    margin: 0 0 0 1rem;
    font: 600 1.125rem / 1.1 base.$font-family-base;
  }

  &.scrolled {
    background-color: var(--app-menu-bg);
  }
}
