@use "@vars/base";
@use "@vars/mixins";
@use "sass:color";

.privacy-popup {
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  left: 50%;
  overflow: hidden;
  border-radius: base.$border-radius-base;
  background-color: var(--app-bg-accent);
  box-shadow: 0 0 3px 0 #fff;
  font-size: 1rem;
  transform: translateX(-50%);

  &__lock {
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 15px;
    width: auto;
    height: 100%;
    opacity: 0.5;
  }

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px 10px 20px 15px;
    border-radius: base.$border-radius-base base.$border-radius-base 0 0;
    margin: 0 auto;
    background: var(--app-bg-main);
  }

  &__content {
    margin-bottom: 10px;
    line-height: 1.6;

    a {
      color: var(--app-color-link);
      text-decoration: none;

      &:hover {
        color: var(--app-color-link-hover);
      }
    }
  }
}
