/**
 * Typography
 */
$font-size-base: 1rem;
$font-family-base: "Inter", sans-serif;
$font-weight-base: 400;
$line-height-base: 1.56;
$font-family-headings: "Inter", sans-serif;
$font-weight-headings: 700;

/**
 * Border radius
 */
$border-radius-small: 5px;
$border-radius-base: 0.75rem;
$border-radius-large: 20px;
