@use "sass:color";
@use "@vars/media";

$images-path: "../images"; // images path
$fonts-path: "../fonts"; // fonts path

:root {
  /* Sizing */
  --app-sidenav-width: 245px;
  --app-topbar-height: 85px;

  /* Colors */
  --app-bg-main: #f0f4f7; // u
  --app-bg-menu: #fff;
  --app-border-color: #e7e9eb;
  --app-box-shadow: 0 0 15px 0 rgb(154 161 171 / 5%);
  --app-bg-accent: #2E2738; // u
  --app-color-border: #000;
  --app-border: #eff6ff1a;
  --app-menu-item-font-size: 0.925rem;
  --app-menu-item-color: #6c757d;
  --app-menu-item-hover-color: #188ae2;
  --app-menu-item-hover-bg: rgb(24 138 226 / 10%);
  --app-border-radius: 0.3125rem;

  // Typography
  --app-color-text: #4c4c5c; //u
  --app-heading-color: #4c4c5c; // u
  --app-color-accent: #188ae2;
  --app-color-link: #188ae2;
  --app-color-breadcrumbs: #b7b7b7;

  /* Buttons */
  --app-bg-button-base: #EB8B7E;
  --app-bg-button-base-hover: #{color.adjust(#EB8B7E, $lightness: -10%)};
  --app-color-button-base: #fff;
  --app-bg-button-accent: #5EC1F1;

  // Inputs
  --app-bg-input: #fff;
  --app-color-input: #000;
  --app-color-input-placeholder: #525252;
  --app-border-color-input: #ccc;

  // Grid
  --grid-gap-spacing: 1rem;
  --grid-template-columns: calc((100% - var(--grid-gap-spacing) * 1) / 2);
  --app-container: calc(1273px + 4rem);
}

@media screen and (width >= media.$screen-xs) {
  :root {
    --grid-template-columns: calc((100% - var(--grid-gap-spacing) * 2) / 3);
  }
}

@media screen and (width >= media.$screen-sm) {
  :root {
    --grid-template-columns: calc((100% - var(--grid-gap-spacing) * 3) / 4);
  }
}

@media screen and (width >= 1024px) {
  :root {
    --grid-template-columns: calc((100% - var(--grid-gap-spacing) * 4) / 5);
  }
}
