// xs
$screen-min: 320px !default;
$screen-xs: 520px !default;
$screen-sm: 640px !default;
$screen-md: 768px !default;
$screen-lg: 1024px !default;
$screen-xl: 1280px !default;
$screen-2xl: 1536px !default;

// Containers
$container-xl: 1180px;