@use "@vars/media";

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  min-height: var(--app-topbar-height);
  padding: 0 1.5rem;
  border: 0 solid var(--app-border-color);
  margin-left: var(--app-layour-shift);
  transition: all .2s ease-in-out;

  @media screen and (min-width: media.$screen-md) {
    margin-left: var(--app-sidenav-width);
  }
}

.admin-bar {
  .header {
    top: 46px;

    @media screen and (width >= 783px) {
      top: 32px;
    }
  }
}