@use "@vars/base";
@use "@vars/media";

.wrapper {
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: all .25s ease-in-out;

  &.active {
    transform: translateX(var(--app-sidenav-width));
  }
}